/* use library for font-family */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');


/* ----------------------------------------------------------- */
/* destkop */
* {
    margin: 0;
    padding: 0;
}


/* header START*/
.img_h{
    
    width: 112px;
    height: 66px;

}
/* header END */


/*first_section_main START*/
.imgglobe{

    width: 22px;
    height: 21px;
    
}
/*first_section_main END*/


/*second_section_main START*/
/*second_section_main END*/

/*third_section_main START*/
/*third_section_main END*/

/*fourth_section_main START*/
/*fourth_section_main END*/

/*fifth_section_main START*/
/*fifth_section_main END*/




/* desktop end */
/* ----------------------------------------------------------- */


/* phone */
@media (max-width: 380px) {
    
    /* header START*/
/* header END */


/*first_section_main START*/
/*first_section_main END*/


/*second_section_main START*/
/*second_section_main END*/

/*third_section_main START*/
/*third_section_main END*/

/*fourth_section_main START*/
/*fourth_section_main END*/

/*fifth_section_main START*/
/*fifth_section_main END*/

}


/* ----------------------------------------------------------- */


/* tablet */
@media (min-width: 834px) {

    /* header START*/
/* header END */


/*first_section_main START*/
/*first_section_main END*/


/*second_section_main START*/
/*second_section_main END*/

/*third_section_main START*/
/*third_section_main END*/

/*fourth_section_main START*/
/*fourth_section_main END*/

/*fifth_section_main START*/
/*fifth_section_main END*/
    
}

/* ----------------------------------------------------------- */